body{
    background-color: lightgray;
}
h1{
    text-align: center;
    font-size: 50px;
}
p{
    text-align: center;
}
img.octocat{
    height: 200px;
}

.first-box{
    background-color: aqua;
    display: flex;
    align-items: center;
    padding: 2%;
    justify-content: space-between;
    margin: 2%;
}
.second-box{
    background-color: palevioletred;
    display: flex;
    align-items: center;
    padding: 2%;
    justify-content: space-evenly;
    margin: 2%;
}
.third-box{
    background-color: white;
    display: flex;
    align-items: center;
    padding: 2%;
    justify-content: space-between;
    margin: 2%;
}